form {
    position: sticky;
    bottom: 10px;
    left: 50%;
    margin-left: -21px;
}

.inp {
    padding: 8px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid yellow;
}

.inputs {
    margin-top: 10px;
}