.ChatHeader{
 color: blueviolet;
}
.chatList{
 background-color: darkslateblue;
 color: white;
}
.chatListBlock{
 background-color: #282c34;
 min-height: 100vh;
}
.choiceChat{
 color: yellow;
 text-align: center;
}